@import "https://unpkg.com/chota@latest";

.tabs {
  white-space: nowrap;
}

textarea {
  resize    : vertical;
  max-height: 20rem;
}

.needs-more {
  display: inline-block;
}

.needs-more::before {
  content: "⚠ ";
  color  : red;
  display: inline-block;
}

img.thumbnail {
  max-height: 12rem;
  margin    : 0 .1rem;
}

#thumbroll {
  position   : relative;
  overflow-x : auto;
  white-space: nowrap;
  display    : block;
  width      : 100%;
}

#previewTranscription {
  width   : 100%;
  position: relative;
}

a.button {
  position: relative;
  z-index : 1;
}

a[data-change] {
  cursor: pointer;
}

.page {
  display   : block;
  padding   : 1rem;
  margin    : 1rem;
  box-shadow: 0 0 .25rem #000000;
  overflow  : auto;
}
.is-included {
  position: relative;
}
.is-included::after {
  content: '✓';
  top: -0.4em;
  left: 0;
  position: absolute;
  color: blue;
  font-size: 1.4em;
  font-weight: 900;
}

#zoomy {
  position        : fixed;
  right           : 0;
  top             : 0;
  height          : 100vh;
  background-color: rgba(255, 255, 255, .4);
  width           : 50vw;
}

a[target = "_blank"]:after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);    
}

/* Feedback */

#globalFeedback {
  visibility : hidden;
  min-width  : 250px;
  margin-left: -125px;
  text-align : center;
  position   : fixed;
  z-index    : 9;
  left       : 50%;
  bottom     : 30px;
}

#globalFeedback.show {
  visibility       : visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation        : fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade in and out */
@-webkit-keyframes fadein {
  from {
    bottom : 0;
    opacity: 0;
  }

  to {
    bottom : 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom : 0;
    opacity: 0;
  }

  to {
    bottom : 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom : 30px;
    opacity: 1;
  }

  to {
    bottom : 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom : 30px;
    opacity: 1;
  }

  to {
    bottom : 0;
    opacity: 0;
  }
}

gm-header{
  display: block;
  height:  12.9em;
  overflow:  hidden;
  margin-bottom:  2em;
  border-bottom:  2px solid black;
  margin-top:  1em;
}

gm-footer{
  margin-top: 4em;
  display: block;
  position: relative;
}

gm-footer .brand{
  height:  1em;
}

logoimg{

}

logoimg img {
  position: relative;
  width: 87%;
  left: 13%;
  z-index: -1;
}

paul{
  position:  absolute;
}

paul img{
  height: 10em;
}

auth-button{
  position:  absolute;
  display:  block;
  text-align:  right;
  padding: 0px 20px 0px 0px !important;
  z-index:  1;
}

button[is="auth-button"]{
  color:  var(--color-primary);  
}

.tabs a{
  border-bottom:  none !important;
  z-index:  1;
}

.welcomeMessage{

}

.welcomeLinks{
  
}

.welcomeLinks a{
  display:  block;
}

#recordStatuses{
  position: relative;
  cursor: default;
  display: block;
  margin-bottom: 2em;
  margin-top: 2em;
  width: fit-content;
  max-width: var(--grid-maxWidth);
}

.recordStatus{
  position: relative;
  display: inline-block;
  margin: 0em 1em;
  text-transform: none;
  color: white;
}

.recordStatus.button{
  cursor: pointer;
}

.button.is-small{
    font-size: .75em;
    padding: 0.4rem;
}

.dropFrom{
  color:red;
}

input[readonly]{
  color: darkred;
}

.commentToggle{
  cursor: pointer;
  margin-top : 
}

.commentToggle:hover{
  font-weight: 600;
}