*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.app-bg{
 background-color: #69ACC9;
 height: 100vh;
 background: #69ACC9 url(images/tpen_logo_header.jpg) top left no-repeat scroll;
}

.projects-container{
 padding: 10px 10px;
 display: flex;
 height:  300px;
 width: 90%;
 margin:30px auto;
 background-color: #FFEBB9;
}

.project-list{  
 width: 60%;
 padding: 10px; 
 overflow-y: scroll;
 li{
  display: flex;
  list-style-type: none; 
 align-items: center;
 cursor: pointer;
 justify-content: space-between;
 margin: 5px 0px;
 padding: 5px;
 font-size: 18px;
 font-weight: 600;
 &:nth-child(even){
  background-color: rgba(105, 172, 201, 0.2);
 }
 &:hover{  
  background-color: #B7D6DD;
  .manage{
   display: block;
  }
 }
 }
 .manage{
  font-size:10px;
  user-select: none;
  display: none;
  span{
   cursor: pointer;
   width: fit-content;
   padding: 0px 5px;
   &:hover{
    color: red;
   }
  }
 
 }
}


.last-edited{ 
 width: 40%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 .image{ 
  width: 95%; 
  position: relative; 
  background-color: white;
  img, figure{
   width: 100%;
   // height: 100%;
   object-fit: cover;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .caption{
   position: absolute;
   top: 90%;
   font-weight: 600;
   width: 100%;
   padding: 2px;
  }
  box-shadow: 0px 0px 20px 1px white;
  transition: all 0.3s ease-in-out;
  &:hover{
   box-shadow: 0px 0px 20px 1px grey;
   .caption{
    background-color: #A64129;
    color: white;
   }
  }
 }
}


@media (max-width:500px) {
 .app-bg{
  overflow: scroll;
 }
 .projects-container{ 
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column-reverse;
  .project-list, .image{
   width: 100%;
   li{
    font-size: 16px !important;

   }
   }
.last-edited{
 width: 100%;
}
   .image{
    // height: 20vh; 
    width: 100% !important;
   
    .caption{
     top: 80%;
    }
   }
 }
}