// body, html {
//  margin: 0;
//  padding: 0;
//  height: 100%;
// }

// .container {
//  display: flex;
//  height: 100vh;
// }

// .image-container {
//  width: 60%;
//  img{
//   width: 100%;
//   height: 100%;
//   object-fit: contain;
//   overflow: hidden;
//  }
// }

// .tools-container {
//  width: 40%;
//  background-color: #f0f0f0;
// }
// // .image-container {
// //  width: 60%;
// //  position: relative; /* Ensure canvas positioning is relative to the container */
// //  overflow: hidden; /* Hide overflow of image */
// //  input{
// //   z-index: 2;
// //  }
// // }

// // #imageCanvas {
// //  max-width: 100%; /* Make canvas responsive */
// //  max-height: 100%; /* Make canvas responsive */
// //  display: block; /* Remove any default margins */
// //  position: absolute; /* Position canvas relative to container */
// //  // top: 0; /* Align canvas to top */
// //  // left: 0; /* Align canvas to left */
// // }



.image-container {
 position: relative;
 width: 60%;
 // height: 100vh;
 float: left;
 overflow: hidden;
}

#uploadedImage {
 display: block;
 max-width: 100%;
 max-height: 100%;
}

.rectangle {
 position: absolute;
 border: 2px solid grey; 
  background: rgba(255, 255, 0, 0.3);
  transition: background-color 0.2s;
}
.delete-bg:hover{
 background: rgba(255, 0, 0, 0.3);
 &:after{
  content: "\1F5D1"; 
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  height: 100%;
  width: 100%
 }
}

.drawn-shape{
 @extend .rectangle;
 border: 2px solid black;
 background-color: transparent; 

}