<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Profile Module</title>
    <meta charset="UTF-8">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../api/TPEN.js" type="module"></script>
    <script src="index.js" type="module"></script>
    <script src="../../api/events.js" type="module"></script>
</head>

<body>

    <small>/components/user-profile</small>
    <h3>Profile</h3>
    <tpen-user-profile show-metadata></tpen-user-profile>

</body>

</html>
