<!DOCTYPE html>
<html lang="en">

<head>
    <title>TPEN Interfaces</title>
    <meta charset="UTF-8">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../TPEN/index.mjs" type="module"></script>
    <script src="index.mjs" type="module"></script>
    <script src="../../TPEN/events.mjs" type="module"></script>
</head>

<body>

    <small>/components/tpen-user-profile</small>
    <h3>Profile</h3>
    <tpen-user-profile></tpen-user-profile>

</body>

</html>
