<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/TPEN-interfaces/components/classroom/styles/styles.css" />
    </head>
    <body>
        <footer>
            <p>TPEN Classroom Interface</p>
        </footer>

        <style>
            footer {
                padding: 10px;
                text-align: center;
                background: #516059;
                color: white;
                position: fixed; /* Makes the footer stick to the bottom */
                bottom: 0;
                left: 0;
                width: 100%; /* Ensures the footer spans the full width of the page */
                z-index: 1000; /* Ensures it stays above other content */
            }
        </style>
    </body>
</html>