<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>"TPEN Classroom Interface: Home"</title>
</head>
<body>
    <div class="header">
        <h1>TPEN Classroom Interface</h1>
    </div>
		<div class ="navbar">
        <!--navigation bar below: we can try making this collapsible on mobile devices?
        placeholder categories, will be changed as we solidify the pages needed
        -->
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#annotations">Annotations</a></li>
            <li><a href="#groups">Groups</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
		</div>

        <div class="main">
            <h1>Welcome!</h1>
            <p>text</p>
        </div>

    <footer>
        <p>TPEN Classroom Interface</p>
    </footer>

</body>
</html>