<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <title>"TPEN Classroom Interface: Home"</title>
</head>
    <body>
        <div class="header">
            <h1>TPEN Classroom Interface</h1>
            <div class="hamburger-menu" onclick="toggleMenu()">
                &#9776 <!-- Hamburger icon -->
            </div>
        </div>
            <div class ="navbar" id="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#annotations">Annotations</a></li>
                <li><a href="#groups">Groups</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            </div>

            <div class="page-container">
                <h1>Welcome!</h1>
                <div class="input-container">
                    <div class="label-container">
                        <form class="input-form">
                            <label for="username">Username:</label>
                            <input id="username" name="username" type="text" placeholder="John Smith">
                        </form>
                        <form class="input-form">
                            <label for="password">Password:</label>
                            <input id="password" name="password" type="password">
                        </form> 
                    </div>
                    <button class="submit-button" type="submit">Submit</button>
                </div>
            </div>

        <footer>
            <p>TPEN Classroom Interface</p>
        </footer>

        <script src="./menutoggle.js"></script>
    </body>
</html>