<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - TPEN</title>
        <script src="auth-button.js" defer></script>
    </head>
    <body>
        <div class="page-container">
            <div class="login-container">
                <h1>Welcome back</h1>
                <auth-button></auth-button>
            </div>
        </div>
    </body>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            text-align: center;
            display: grid;
            align-content: center;
            justify-items: center;
            height: 100vh;
            background-color: rgb(240, 241, 241);
        }
    </style>
</html>