<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Classroom Group Options</title>
  <link rel="stylesheet" href="./styles/projectPage.css">
  <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
  <tpen3-header></tpen3-header>
  <h1>Classroom Group Options</h1>
  <div id="role-options"></div>
  <tpen3-footer></tpen3-footer>

  <script type="module" src="./projectPage.mjs"></script>
  <script src="./partials/header.js"></script>
  <script src="./partials/footer.js"></script>
</body>
</html>
