* {
    box-sizing: border-box;
}

*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(240, 241, 241);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

h3 {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    background: #516059; 
    color: white;
}

.header h1 {
    font-size: 24px;
}

.navbar {
    font-size: clamp(1rem, 2vh, 2rem);
    background-color: #516059;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    display: block;;
    color: #fff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

li a:hover::after {
    width: 100%;
}

.page-container {
    flex: 1;
    text-align: center;
}

.page-container h2 {
    color: #516059;
}

.input-container {
    text-align: center;
    padding-top: 1rem;
}

.input-form {
    padding-bottom: 0.5rem;
}

.role-based-options {
    display: grid;
    gap: 0.5rem;
}

footer {
    padding: 10px;
    text-align: center;
    background: #516059; 
    color: white;
    bottom: 0;
}

/* Hamburger icon */
.hamburger-menu {
    display: none;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}

/* Mobile (Portrait and Landscape) */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    
    .header h1 {
        font-size: 24px;
    }

    .navbar {
        background-color: #516059;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar.responsive ul {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .input-container {
        padding-top: 1rem;
    }

    .input-form {
        display: grid;
        padding-inline: 5rem;
        gap: 0.5rem;
    }

    .role-based-options {
        padding-inline: 5rem;
    }
}

/* Tablet (Portrait and Landscape) */
@media (min-width: 600px) and (max-width: 900px) {
    /* Styles for tablets */
    .header h1 {
        font-size: 18px;
    }

    .header li {
        font-size: 12px;
    }

    .header li a {
        padding: 5px 5px;
    }
}

/* Small Desktop or Large Tablet */
@media (min-width: 900px) and (max-width: 1200px) {
    /* Styles for small desktops or large tablets */
}

/* Desktop (Large screens) */
@media (min-width: 1200px) {
    /* Styles for desktop devices */
}