<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="index.js" type="module"></script>
    <title>Update Metadata</title>
</head>
<body>
    <update-metadata></update-metadata>
    <div id="container" class="metadata-modal-container">
        <div id="metadata-modal" class="modal hidden">
          <div class="modal-content">
            <h3>Edit Metadata</h3>
            <form id="metadata-form">
              <div id="metadata-fields"></div>
              <button type="button" id="add-field-btn">+ Add Field</button>
              <div class="modal-actions">
                <button type="button" id="save-metadata-btn">Save</button>
                <button type="button" id="cancel-btn">Cancel</button>
              </div>
            </form>
          </div>
        </div>
    </div>
</body>
</html>