<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gradebook | TPEN Classroom</title>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
    <script type="module" src="./grades.mjs"></script>
  </head>
  <body>
    <div class="header">
      <h1>TPEN Classroom Interface</h1>
      <div class="hamburger-menu" onclick="toggleMenu()">&#9776</div>
      <div class="navbar" id="navbar">
        <ul>
          <li><a href="../index.html" aria-label="home">Home</a></li>
        </ul>
      </div>
    </div>

    <div class="page-container">
      <h2>My Grades</h2>

      <table class="grade-table">
        <thead>
          <tr>
            <th>Assignment Name</th>
            <th>Grades</th>
          </tr>
        </thead>
        <tbody id="grade-body">
          <!-- Dynamically populate this later -->
          <tr>
            <td>Project 1</td>
            <td>85</td>
          </tr>
          <tr>
            <td>Project 2</td>
            <td>78</td>
          </tr>
        </tbody>
        <thead>
            <tr>
              <th>Final Grade</th>
              <th>81.5</th>
            </tr>
          </thead>
      </table>
    </div>
  </body>
</html>
