.collaborators-container {
    #content {
        margin: 20px 0px;

        .title {
            color: #B14628;
            font-size: 17px;
            font-weight: 300;
            margin: 10px 0px;
        }
    }

    .member {
        margin: 10px 15px;

    }

    .role {
        color: #B14628;  
        text-transform: capitalize;
    }

    .pending {
        color: #999999;
        font-style: italic;
        border: 1px dashed #ccc;
        padding: 2px;
    }
    .remove-button {
        background-color: #ff4d4d;  
        font-size: 10px;
        color: white;
        border: none;
        padding: 5px ;
        cursor: pointer;
        border-radius: 4px;
        margin: 0px 10px;

        &:hover{

            background-color: #ff3333;
        }
      }
      
     

       
    .invite-section {
        margin: 10px 0px;
    }

    #invitee-email {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px; /* Adjust the width as needed */
      }

    .submit-btn {
        background-color: rgba(105, 172, 201, .8); 
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: white;
        &:hover{
            background-color: rgba(105, 172, 201, 1);

        }
      }
  
      .success-message{
        color: green;
        background-color: #e6ffe6;  
        padding: 10px;
        border: 1px solid #c3e6c3;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: center;
      }

      .error{
        color: red;
      }

}