@import "./manuscript.scss";

.manage-collaboration-container{
 @extend .manage-manuscript-container;
 line-height: 15px;
 .project-owner{
  margin: 10px 0px;
 
  
  p{
   margin: 10px 0;
  }

  p.red{
   font-size: 14px;
  }

  ul{
   li{
    list-style: none;
    font-size: 13px;
   }
  }
 }

 .item{
  *{
   padding: 0;
   margin: 0;
  } 
  background-color: #FFE49F;
  font-size: 10px;
  .top{
   display: flex;
   justify-content: space-between;
   font-size: 9px;
   .date{
    color: grey;
   }
  }
  &:nth-child(even){
   background-color: transparent;
  }
  .action{
   color: #618797;
   a{
    color: black;
   }
  }
 }

 
 .share{
  background-position: -208px -96px;
  }
  
  .team{
  background-position: -144px -96px;
  
  }
  .comment{
   background-position: -128px -96px;
 }

}