@import "./projects.scss";
.manage-manuscript-container{
 @extend .manage-projects-container;

 section{ 
  min-height: 150px;
  width: 33% !important;
  button{
   margin: 5px 0px;
  }
 }
}
.manuscript-segment{
 min-height: 150px;

}

.line-parsings{
 background-position: -64px -96px;
}
.linebreak{ 
 background-position: -16px -96px;
 }
 .proofread{
 background-position: -160px -128px;
}
