<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Text Module Import</title>
    <script src="index.js" type="module"></script>
</head>

<body>
    <h1>Line Text Module Import Example</h1>
    <p>This is an example of importing the line-text module in HTML.</p>
    <pre>
        <code>&lt;tpen-line-text tpen-line-id="URL">&lt;/tpen-line-text></code>
    </pre>

    or

    <pre>
        <code>&lt;tpen-line-text iiif-content="base64">&lt;/tpen-line-text></code>
    </pre>

    <h4>A Line like Newberry TPEN with <code>line.resource["cnt:chars"]</code></h4>
    <blockquote>
        <tpen-line-text tpen-line-id="https://store.rerum.io/v1/id/6685af395b48727bae3fc269"></tpen-line-text>
        <br><code>&lt;tpen-line-text tpen-line-id=&quot;https://store.rerum.io/v1/id/6685af395b48727bae3fc269&quot;&gt;&lt;/tpen-line-text&gt;</code>
    </blockquote>

    <h4>A Line from IIIF fixture <code>line.body.value</code> (A TextualBody example)</h4>
    <blockquote>
        <tpen-line-text iiif-content="JTdCJTIyaWQlMjIlM0ElMjJodHRwcyUzQSUyRiUyRmlpaWYuaW8lMkZhcGklMkZjb29rYm9vayUyRnJlY2lwZSUyRjAyNjYtZnVsbC1jYW52YXMtYW5ub3RhdGlvbiUyRmNhbnZhcy0xJTJGYW5ub3BhZ2UtMiUyRmFubm8tMSUyMiUyQyUyMnR5cGUlMjIlM0ElMjJBbm5vdGF0aW9uJTIyJTJDJTIybW90aXZhdGlvbiUyMiUzQSUyMmNvbW1lbnRpbmclMjIlMkMlMjJib2R5JTIyJTNBJTdCJTIydHlwZSUyMiUzQSUyMlRleHR1YWxCb2R5JTIyJTJDJTIybGFuZ3VhZ2UlMjIlM0ElMjJkZSUyMiUyQyUyMmZvcm1hdCUyMiUzQSUyMnRleHQlMkZwbGFpbiUyMiUyQyUyMnZhbHVlJTIyJTNBJTIyRyVDMyVCNnR0aW5nZXIlMjBNYXJrdHBsYXR6JTIwbWl0JTIwRyVDMyVBNG5zZWxpZXNlbCUyMEJydW5uZW4lMjIlN0QlMkMlMjJ0YXJnZXQlMjIlM0ElMjJodHRwcyUzQSUyRiUyRmlpaWYuaW8lMkZhcGklMkZjb29rYm9vayUyRnJlY2lwZSUyRjAyNjYtZnVsbC1jYW52YXMtYW5ub3RhdGlvbiUyRmNhbnZhcy0xJTIyJTdE"></tpen-line-text>
        <br><code>&lt;tpen-line-text iiif-content=&quot;JTdCJTIyaWQlMjIlM0ElMjJodHRwcyUzQSUyRiUyRmlpaWYuaW8lMkZhcGklMkZjb29rYm9vayUyRnJlY2lwZSUyRjAyNjYtZnVsbC1jYW52YXMtYW5ub3RhdGlvbiUyRmNhbnZhcy0xJTJGYW5ub3BhZ2UtMiUyRmFubm8tMSUyMiUyQyUyMnR5cGUlMjIlM0ElMjJBbm5vdGF0aW9uJTIyJTJDJTIybW90aXZhdGlvbiUyMiUzQSUyMmNvbW1lbnRpbmclMjIlMkMlMjJib2R5JTIyJTNBJTdCJTIydHlwZSUyMiUzQSUyMlRleHR1YWxCb2R5JTIyJTJDJTIybGFuZ3VhZ2UlMjIlM0ElMjJkZSUyMiUyQyUyMmZvcm1hdCUyMiUzQSUyMnRleHQlMkZwbGFpbiUyMiUyQyUyMnZhbHVlJTIyJTNBJTIyRyVDMyVCNnR0aW5nZXIlMjBNYXJrdHBsYXR6JTIwbWl0JTIwRyVDMyVBNG5zZWxpZXNlbCUyMEJydW5uZW4lMjIlN0QlMkMlMjJ0YXJnZXQlMjIlM0ElMjJodHRwcyUzQSUyRiUyRmlpaWYuaW8lMkZhcGklMkZjb29rYm9vayUyRnJlY2lwZSUyRjAyNjYtZnVsbC1jYW52YXMtYW5ub3RhdGlvbiUyRmNhbnZhcy0xJTIyJTdE&quot;&gt;&lt;/tpen-line-text&gt;</code>
    </blockquote>

    <h4>A Line with a String Literal <code>line.body</code> </h4>
    <blockquote>
        <tpen-line-text iiif-content="JTdCJTIyaWQlMjIlM0ElMjJidWglMjIlMkMlMjJ0eXBlJTIyJTNBJTIyQW5ub3RhdGlvbiUyMiUyQyUyMmJvZHklMjIlM0ElMjJBbGlxdWlkJTIwU3RyaW5nJTIyJTJDJTIydGFyZ2V0JTIyJTNBJTIyaHR0cHMlM0ElMkYlMkZpaWlmLmlvJTJGYXBpJTJGY29va2Jvb2slMkZyZWNpcGUlMkYwMjY2LWZ1bGwtY2FudmFzLWFubm90YXRpb24lMkZjYW52YXMtMSUyMiU3RA=="></tpen-line-text>
        <br><code>&lt;tpen-line-text iiif-content=&quot;JTdCJTIyaWQlMjIlM0ElMjJidWglMjIlMkMlMjJ0eXBlJTIyJTNBJTIyQW5ub3RhdGlvbiUyMiUyQyUyMmJvZHklMjIlM0ElMjJBbGlxdWlkJTIwU3RyaW5nJTIyJTJDJTIydGFyZ2V0JTIyJTNBJTIyaHR0cHMlM0ElMkYlMkZpaWlmLmlvJTJGYXBpJTJGY29va2Jvb2slMkZyZWNpcGUlMkYwMjY2LWZ1bGwtY2FudmFzLWFubm90YXRpb24lMkZjYW52YXMtMSUyMiU3RA==&quot;&gt;&lt;/tpen-line-text&gt;</code>
    </blockquote>

    <h4>A Line with missing content </h4>
    <blockquote>
        <tpen-line-text></tpen-line-text>
        <br><code>&lt;tpen-line-text&gt;&lt;/tpen-line-text&gt;</code>
    </blockquote>

    <hr>

    <p>The component can also be told directly about a resource by calling <code>elem.drawLineText(text)</code>
        with a string literal, an Annotation object, a text-containing body, or an array of these.
    </p>
    <script>
        const randomObjects = [
            {
                "id": "https://store.rerum.io/v1/id/6685af395b48727bae3fc269",
                "type": "Annotation",
                "body": {
                    "type": "TextualBody",
                    "value": "This is text to include."
                }
            },
            {
          "@id" : "https://t-pen.org/TPEN/line/104692230",
          "_tpen_line_id" : "line/104692230",
          "@type" : "oa:Annotation",
          "motivation" : "oad:transcribing",
          "resource" : {
            "@type" : "cnt:ContentAsText",
            "cnt:chars" : "doceret et ecclesiam super quam sedet, predicans preceptum  domini "
          },
          "on" : "https://t-pen.org/TPEN/canvas/13248868#xywh=125,58,229,10"
        }, "Just make it a string literal."
        ]

        function assignSomeWords() {
            let lineText = document.getElementById("lineText")
            let text = lineText.innerText
            let currentIndex = randIndex = lineText.dataset.index
            do {
                randIndex = Math.floor(Math.random() * randomObjects.length)
            } while (currentIndex == randIndex)
            text = randomObjects[randIndex]
            textObj.innerText = JSON.stringify(text, null, 2)
            lineText.dataset.index = randIndex
            lineText.drawLineText(text)
        }
    </script>
    <button role="button" onclick="assignSomeWords()">♻ the content.</button>
    <blockquote>
        <tpen-line-text id="lineText"></tpen-line-text>
    </blockquote>
    <pre id="textObj"></pre>

</body>

</html>
